@media (max-width: 1100px) {
    .carousel {
        .prev {
            left: 0;
        }
        .next {
            right: 0;
        }
    }
}
@media (max-width: 991px) {
    .container {
        width: 92%;
    }

    .advantages {
        .title {
            margin-bottom: 0;
        }
        padding: 50px 0;
        &__wrapper {
            padding-top: 35px;
        }
    }

    .consultation {
        padding: 50px 0;
    }

    .carousel {
        padding: 50px 0;
        .prev {
            left: 10px;
        }
        .next {
            right: 10px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 720px;
        overflow: hidden;
    }

    .header {
        padding: 0 7px 0 7px;
        &__logo {
            width: 200px;
        }

        &__phone {
            font-size: 16px;
        }
    }

    .promo {
        min-height: 625px;
        padding: 21px 0 30px 0;
    &__wrapper {
        align-items: center;
        margin-top: 70px;
    }

    &__header {
        font-size: 30px;
        line-height: 30px;
    }

    &__subheader {
        font-size: 20px;
        line-height: 20px;
    }
    }

    .button_main {
        width: 250px;
        height: 35px;
    }

    .advantages {
        padding: 30px 0;
        &__wrapper {
            padding-top: 25px;
        }
        &__subheader_descr {
            margin-top: 15px;
        }
        &__descr {
            margin-top: 10px;
        }
    }

    .title_left {
        font-size: 30px;
        line-height: 35px;
    }

    .consultation {
        padding: 30px 0;
        &__descr {
            line-height: 25px;
        }
    }

    .carousel {
        &__inner {
            width: 90vw;
        }
        img {
            width: 65%;
        }
        padding: 50px 0;
        .prev {
            left: 0;
        }
        .next {
            right: 0;
        }
    }

    .catalog {
        &__tabs {
            margin-top: 50px;
        }
        &__tab {
            width: 162px;
            height: 50px;
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 540px;
        padding: 5px;
        overflow: hidden;
    }

    .pageup {
        bottom: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
    }

    .header {
        &__logo {
            width: 160px;
        }

        &__official {
            font-size: 10px;
            span {
                font-size: 11px;
            }
        }

        &__contacts {
            a {
                font-size: 10px;
                line-height: 17px;
            }
        }

        
    }

    .button {
        width: 90px;
        height: 20px;
        font-size: 8px;
        line-height: 20px;
        margin-top: 5px;
        &_main {
            margin-top: 50px;
            width: 120px;
            height: 31px;
            line-height: 15px;
        }
    }

    .promo {
        padding: 20px 0 30px 0;
        &__wrapper {
            margin-top: 50px;
            align-items: center;
        }
        &__header {
            font-size: 18px;
            line-height: 18px;
        }
        &__subheader {
            font-size: 14px;
            line-height: 14px;
            text-align: center;
        }

        &__icons {
            width: 90%;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            promo__icon {
                margin-top: 14px;
                img {
                    margin-bottom: 10px;
                }
            }
        }

        &__link {
            font-size: 14px;
        }

    }

    .advantages {
        padding: 15px 0 15px 0;

        .title {
            font-size: 20px;
        }

        &__wrapper {
            flex-direction: column;
            align-items: center;
            padding-top: 15px;
        }

        &__subheader_descr {
            margin-top: 7px;
            margin-bottom: 0px;
        }

        &__descr {
            margin-top: 10px;
        }

        &__icon:nth-child(2) {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }

    .title_left {
        font-size: 18px;
        line-height: 23px;
    }

    .consultation {
        min-height: 500px;
        padding: 30px 0;
        &__descr {
            line-height: 23px;
            font-size: 18px;
        }
    }

    .feed-form {
        width: 100%;
    }

    .button_submit {
        width: 100%;
        height: 55px;
        font-size: 18px;
    }
    
    .carousel {
        &__inner {
            width: 90vw;
        }
        position: relative;
        padding: 40px 0;
        .slick-dots {
            padding: 0;
            width: 100%;
            display: inline-block;

        }
        img {
            width: 65%;       
        }
    }

    .catalog {  
        .title{
            font-size: 25px;
        }
        &__tabs {
            margin-top: 25px;
        }
        &__tab {
            font-size: 9px;
            transform: skewX(-22deg);
            div {
                transform: skewX(22deg);
            }
        }

        &__content {
            margin-top: 25px;
        }
    }

    .feed {
        &__item {
            img {
                width: 80px;
                height: 80px;
            }
        }

        &__text {
            margin-left: 42px;
            padding-right: 30px;
        }
    }

    .footer {
        &__info {
            padding: 20px 29px;
            width: 90%;
            height: 110px;
            
        }
        &__addr {
            margin-bottom: 18px;
            font-size: 12px;
            line-height: 12px;
        }
        &__phone {
            margin-bottom: 18px;
            font-size: 12px;
            line-height: 5px;
        }

        &__social-item {
            width: 20px;
            height: 20px;
            img {
                height: 12px;
            }
        }
    }

    .overlay {
        .modal {
            &__close {
                right: -26px;
            }
        }
        #order {
            width: 85%;
        }
    }
}



